/*Card + euro + neutral star déja dans style.css réutiliser les mêmes class*/
/*Hebergements à Marseille - Populaires dans style.css*/

.hebergements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding-top: 30px;
}

.hebergements-container a {
  width: 30%;
}

.hebergements img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-container .card {
  height: 207px;
}

.hebergements-container .card-title {
  margin-top: 4px;
  padding-left: 10px; /*10 car déjà 5 dans la card pour l'image selon maquette*/
}

.hebergements-container .card-subtitle {
  margin: 0;
  padding-left: 10px;
}

.hebergements-container .card-rating {
  padding-left: 10px;
}

.hebergements-more h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

/*Activités à Marseille*/

.activites-container {
  margin: 30px;
  padding: 30px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 30px;
}

.card-container .card {
  padding: 0;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  flex: 1;
}

.card-container img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 380px;
  width: 100%;
  display: flex;
  object-fit: cover;
}

.card-container h3 {
  padding-left: 19px;
}

/* Tablette */
@media (max-width: 1024px) {
  /* Activités à Marseille */
  .card-container .card {
    align-self: stretch;
  }
  .card-container img {
    height: 200px;
  }
}

/*Mobile responsive principalement Hebergements, populaires dans style.css*/
@media (max-width: 768px) {
  /* HEBERGEMENTS */
  .populaires {
    order: 1;
  }

  .hebergements {
    order: 2;
  }

  .hebergements-and-populaires .hebergements {
    background-color: transparent;
  }

  .hebergements-container {
    flex-direction: column;
  }

  .hebergements-container a {
    width: auto;
  }

  .hebergements-more h3 {
    margin-top: 15px;
  }

  /* ACTIVITES A MARSEILLE */

  .activites-container {
    padding: 0;
  }
  .card-container {
    flex-direction: column;
    gap: 15px;
  }

  .card-container .card {
    width: 100%;
    height: 200px;
  }
}
